.notification {
    .notice {
      background-color: lightblue;
      color: white;
      text-align: center;
    }
  
    .alert {
      background-color: rgb(255, 145, 0);
      color: white;
      text-align: center;
    }
  }